<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>584399492489-6eflbp4i6mkoa8rtk53gre489hah9137.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584399492489-6eflbp4i6mkoa8rtk53gre489hah9137</string>
	<key>API_KEY</key>
	<string>AIzaSyCFkOTvHk9--OOCV1Lx0TFUBO0gc50BWP4</string>
	<key>GCM_SENDER_ID</key>
	<string>584399492489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.willwang.LITS-Timing</string>
	<key>PROJECT_ID</key>
	<string>lits-timing</string>
	<key>STORAGE_BUCKET</key>
	<string>lits-timing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:584399492489:ios:8c5c2bd491a4b0f0</string>
	<key>DATABASE_URL</key>
	<string>https://lits-timing.firebaseio.com</string>
</dict>
</plist>
